@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: aliceblue;
}

@layer components {
  .card-form-wrapper {
    @apply max-w-sm mx-auto mt-20 bg-white rounded-md shadow-md overflow-hidden;
  }
  .block-wrapper {
    @apply mb-4;
  }
  .label {
    @apply block text-sm font-medium text-gray-700 mb-2;
  }
  .input {
    /* @apply border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight aria-[invalid="true"]:outline-red-500 aria-[invalid="true"]:outline-2; */
    @apply border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }
  .errors {
    @apply block text-sm text-red-700 mb-2;
  }
  .submit {
    @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded;
  }
}

/** CardForm */
.card-number-input-wrapper {
  position: relative;
}

.card-number-input {
  padding-left: 68px;
}

.card-type-icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0px;
  width: 68px;
  height: 38px;
  justify-content: center;
}